1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*

'hello'

-87.8

-

/

+
	
6

Ans. 

-87.8

/

6

+

*

2. What is the difference between string and variable?

Ans. String is a data type which is used to hold characeters inside quotations.
Variable is used to store values, characters or different data types in it.

3. Describe three different data types.

Ans. 

1. String: It is used to store data in form of text or character values

2. Numeric: This data type holds numerical values

3. Boolean: This data type has two values: True or False.

4. What is an expression made up of? What do all expressions do?

Ans. An expression is made up of operators and operand. Expression is used to assign the value to the operand once the expression is executed

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Here in the statement spam = 10, after exectuing it, it assigns the value to the variable spam. But in expression, the variable value will get updated after execution of the expression as per the operators and operand.

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [3]:

bacon = 22

bacon + 1

23

Ans. 23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

Ans. 

'spamspamspam'

'spamspamspam'

In [7]:

'spam' + 'spamspam'

'spamspamspam'

In [8]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans. eggs is a valid variable because it is not a reserved keyword in python. 100 is not valid as the variable cannot be only numeric. 100 already is a value and it should not store another value.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans. Functions to be used:

1. str

2. float

3. int

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

Ans. Yes you will get a type error as we are trying to concatenate string and numeric data type.
In order to remove the error, we can put numeric value in quotes converting it to string.

In [14]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [15]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'